@charset 'utf-8';
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box; /*안으로 줄여*/
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

/*div#wrap{ 영상때문에 너비 다쓸거임
	width: 1200px; /*스크롤바크기, 프레임크기 때문에 -80px 버림
	margin: 0 auto; 
}*/

/*header*/
header{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	border-bottom: 1px solid #ddd; /*header와 figure 시인성 위해 분리*/
	z-index: 1;
}

header .inner{
	width: 1180px;
	height: 120px;
	margin: 0px auto;
	position: relative; /* 자식 absolute의 기준점때문에 한번 더 쌈*/

}

/*폰트로고*/
header .inner .logo{
	position: absolute;
	left: 450px;
	bottom: 60px;
 }
 
 header .inner .util{
	position: absolute;
	top: 30px;
	right: 50px;
 }
 
 header .inner .util li{
	float: left;
 }
 
 header .inner .util li a{
	display: block;
	font: 14px "arial";
	color: #fff;
	padding: 0px 10px;
 }  
 header .inner .icons{
	letter-spacing: 5px;
	float: left;
	color: #fff;
 }

 header .inner #gnb{
	position: absolute;
	bottom: 0px;
	right: 0px;
 }
 
 header .inner #gnb li{
	float: left;
 }
 header .inner #gnb li a{
	display: block; /* 인라인 요소는 block설정하여 크기를 조절가능 */
	font: bold 15px "arial";
	color: #fff;
	padding: 20px 40px;
	transition: all 0.5s;
 }

 .submenu{         /* 서브 메뉴 영역 스타일 */
	width:100%;
	height:20vh;
	position:absolute;
	display:none;
	z-index:1;
	background:#ffffff;
	left: 0;
}
.submenu>li>a{    /* 각 서브 메뉴의 <a> 요소 스타일 */ 
	width:100%;
	height:100%;
	line-height:40px;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	background:#ffffff;
	color:#333333;
	

}
.submenu>li>a:hover{ /* <a> 요소에 마우스를 올릴 때 스타일 */ 
	background-color:#30a3f3;
	font-weight: bold;
}
.icons{
	float: right;
	margin-left: 30px;
} 

 /* figure */
 
 figure {
	width: 100%;
	height: 90vh;
    image-rendering: -webkit-optimize-contrast; 
    backface-visibility: hidden; /*전체 브라우저 높이에서 120px만큼 빼줌*/
	background: #000;
	position: relative;
	overflow: hidden;
	padding-top: 250px;
}
figure video {
	object-fit: cover; /*영상을 figure안쪽에 꽉 차도록 설정*/
	width: 100%;
	height: 100%;
	opacity: 0.3;
	position: absolute;
	top: 0px;
	left: 0px;
}
figure .inner {
	width: 1180px;
	margin: 0px auto;
	position: relative;
	text-align: center;
}
figure .inner span {
	font:  20px "arial";
	color: #fff;
	
	margin-bottom: 20px;
}
figure .inner h2 {
	font:  120px "arial";
	color: #fff;
	margin-bottom: 20px;
	
}
figure .inner p {
	font:  20px "arial";
	color: #fff;
	margin-bottom: 60px;
}
figure .inner a {
	display: block;
	width: 100px;
	height: 30px;
	border: 1px solid #bbb;
	font: bold 11px/30px "arial";
	color: #fff;
	letter-spacing: 1px;
	transition: all 0.5s;
	margin: 0 auto;
	border-radius: 50px;
}
figure .inner a:hover {
	background: #fff;
	color: #555;
}

/* section */

section {
	width: 100%;
	padding: 200px 0px;
}
section .inner {
	width: 1180px;
	margin: 0px auto;
}
section .inner h1 {
	font: bold 24px "arial";
	color: #555;
	margin-bottom: 50px;
}

section .inner .wrap{
width: 100%;
}
section .inner .wrap article{
	width: 280px;
	float: left;
	margin-right: 20px;
}
section .inner .wrap article .pic{
	width: 100%;
	height: 300px;
	background: #000000;
	margin-bottom: 15px;
	position: relative;
	overflow: hidden;
}
section .inner .wrap article .pic img{
	object-fit: cover; /*pic프레임안에 이미지 꽉 채움 */
	width: 100%;
	height: 100%;
}
section .inner .wrap article:last-child{
	/*총 위쓰1180px이라 마지막 떨궈짐, 그래서 오른쪽 마지막 요소 여백제거*/
	margin-right: 0px;
}
section .inner .wrap::after{
	/*1)오버플로우 히든, 2)포지션릴레이티브, 자식 요소인 article의 float 해제 = 3)clear*/ 
	content: "";
	display: block;
	clear: both;
}
section .inner .wrap article h2{
	margin-bottom: 10px;
}
section .inner .wrap article h2 a{
	font: 18px "arial";
	text-align: center;
	color: #555;
	
}


/*footer*/

footer{ /*각 div의 색을 다 주기*/
	width: 100%;
	background: #333;
	padding: 100px 0px;
	border-top: 1px solid #888;
}
footer .inner{ /* 이너는 전체크기,센터링 담당*/
	width: 1180px;
	margin: 0px auto;
}
footer .inner .upper{
	width: 100%;
	border-bottom: 1px solid #777;
	padding-bottom: 20px;
}
footer .inner .upper h1{
	float: left; /*ul태그와 나열*/
	font: bold 24px "arial";
	color: #666;
}
footer .inner .upper ul{
	float: right;
}
footer .inner .upper ul li{
	float: left;
	margin-left: 20px;
}
footer .inner .upper ul li a{
	font: bold 14px "arial";
	color: #666;
}
footer .inner .upper::after{
	/*위에 보더 선 닿음 > 상단영역 float 해제*/
	content: "";
	display: block;
	clear: both;
}

footer .inner .lower{
	width: 100%;
	padding-top: 20px;
}
footer .inner .lower address{
	width: 100%;
	font: 12px/1.3 "arial";
	color: #777;
	margin-bottom: 20px;
}
footer .inner .lower p{
	width: 100%;
	font: 12px "arial";
	color: #777;
}